:host {
    width: 100%;
    height: 100vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-color: #FFFFFF;
}

.form {
    max-width: 480px;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
}

.title {
    @media (max-width: 576px) {
        font-size: 1.6rem; 
    }

    font-size: 1.875rem;
    font-weight: 600;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
}

@media (max-width: 768px) {
    .form {
		margin-top: 50px;
    }
}