<div #chartRef id="kt_charts_widget_3_chart" [style.height]="data?.height || '350px'">
	<apx-chart [series]="chartOptions.series" 
	[chart]="chartOptions.chart" 
	[xaxis]="chartOptions.xaxis"
	[title]="chartOptions.title"
	[yaxis]="chartOptions.yaxis" 
	[dataLabels]="chartOptions.dataLabels" 
	[stroke]="chartOptions.stroke"
	[legend]="chartOptions.legend" 
	[fill]="chartOptions.fill" 
	[states]="chartOptions.states"
	[tooltip]="chartOptions.tooltip" 
	[colors]="chartOptions.colors" 
	[markers]="chartOptions.markers"
	[plotOptions]="chartOptions.plotOptions"></apx-chart>
</div>