<div class="card">
	<div class="text-center row">
		<h5 mat-dialog-title class="fs18 fw-600 mb-0 font-be-vn-pro">Tạo mới yêu cầu</h5>
		<button mat-icon-button (click)="onClose()" class="fs18 fw-600 text-right btn-close position-absolute right-0">
			<!-- <i class="fa fa-close "></i> -->
		</button>
	</div>

	<hr class="line-gray mt-5 mb-5">

	<div class="form px-3">
		<form [formGroup]="form">
			<div class="fs16 fw-600 mb-5">
				<h5 class="fs16 fw-600 ">Thông tin chung</h5>
			</div>
			<div class="row">
				<div class="col-12 mb-4">
					<label class="form-label" translate>Tên yêu cầu</label>
					<input class="form-control"
						[ngClass]="{'is-invalid': (helperService.showStatusError(form, 'name', submitted))}"
						(focusout)="helperService.onTrimFocusOutForm(form, 'name', $event)"
						placeholder="{{ 'Đặt tên để ghi nhớ' | translate }}" formControlName="name" maxlength="255" />
					<at-error [submitted]="submitted" [control]="form.get('name')" validation="required"
						message="Trường này không được để trống.">
					</at-error>
					<at-error [submitted]="submitted" [control]="form.get('name')" validation="maxlength"
						message="Tên yêu cầu vượt quá giới hạn cho phép.">
					</at-error>

				</div>
				<div class="col-12 mb-4">
					<label class="form-label required" translate>Vấn đề/nhu cầu/bài toán cần giải</label>
					<textarea class="form-control" rows="5" formControlName="description"
						(focusout)="helperService.onTrimFocusOutForm(form, 'description', $event)"
						[ngClass]="{'is-invalid': (helperService.showStatusError(form, 'description', submitted))}"
						placeholder="{{ 'Vui lòng mô tả cụ thể, nội dung mô tả càng chi tiết sẽ giúp chúng tôi tiếp nhận yêu cầu nhanh hơn...' | translate }}"></textarea>
					<at-error [submitted]="submitted" [control]="form.get('description')" validation="required"
						message="Trường này không được để trống.">
					</at-error>
				</div>
				<ng-container formGroupName="info">
					<div class="col-md-6 col-12 mb-4 form-group">
						<label class="form-label required" translate>Link giới thiệu sản phẩm</label>
						<input class="form-control " (focusout)="helperService.onTrimFocusOutForm(info, 'link', $event)"
							(input)="helperService.onInputForm(info, 'link', $event, {lower: true, trim: true})"
							[ngClass]="{'is-invalid': (helperService.showStatusError(info, 'link', submitted) || (fails && fails['info.link']))}"
							placeholder="{{ 'yourcompany.com' | translate }}" formControlName="link"
							(change)="onChange($event)" />

						<ng-container *ngIf="fails && fails['info.link']">
							<at-error [isForm]="false" [message]="fails['info.link'][0]"></at-error>
						</ng-container>
						<at-error [submitted]="submitted" [control]="link" validation="pattern"
							message="Trường này không đúng định dạng."></at-error>
						<at-error [submitted]="submitted" [control]="link" validation="required"
							message="Trường này không được để trống."></at-error>
					</div>
					<div class="col-md-6 col-12 mb-4">
						<label class="form-label required" translate>Sản lượng bán hiện tại</label>
						<ng-select [items]="quantity_sale_config" bindLabel="name" bindValue="value"
							[hideSelected]="true"
							[ngClass]="{'is-invalid': helperService.showStatusError(info, 'quantity_sale', submitted)}"
							placeholder="{{ 'Chọn sản lượng' | translate }}"
							formControlName="quantity_sale"></ng-select>
						<at-error [submitted]="submitted" [control]="info.get('quantity_sale')" validation="required"
							message="Trường này không được để trống.">
						</at-error>
					</div>
					<div class="col-12 mb-4">
						<label class="form-label" translate>Điểm khác biệt của sản phẩm</label>
						<textarea class="form-control" rows="5" formControlName="usp"
							(focusout)="helperService.onTrimFocusOutForm(info, 'usp', $event)"
							placeholder="{{ 'Vui lòng mô tả cụ thể, nội dung mô tả càng chi tiết sẽ giúp chúng tôi tiếp nhận yêu cầu nhanh hơn...' | translate }}"></textarea>
					</div>
					<div class="col-12 mb-4">
						<label class="form-label required" translate>Phân khúc và chân dung khách hàng</label>
						<textarea class="form-control" rows="5" formControlName="customer"
							(focusout)="helperService.onTrimFocusOutForm(info, 'customer', $event)"
							[ngClass]="{'is-invalid': (helperService.showStatusError(info, 'customer', submitted))}"
							placeholder="{{ 'Vui lòng mô tả cụ thể, nội dung mô tả càng chi tiết sẽ giúp chúng tôi tiếp nhận yêu cầu nhanh hơn...' | translate }}"></textarea>
						<at-error [submitted]="submitted" [control]="info.get('customer')" validation="required"
							message="Trường này không được để trống.">
						</at-error>
					</div>
					<div class="col-12 mb-4">
						<label class="form-label" translate>Thị trường tập trung</label>
						<ng-select [items]="focus_area_config" bindLabel="name" bindValue="value" [multiple]="true"
							[hideSelected]="true" placeholder="{{ 'Chọn thị trường' | translate }}"
							formControlName="focus_area"></ng-select>
					</div>
					<div class="col-12 mb-4">
						<label class="form-label" translate>Chương trình khuyến mãi</label>
						<textarea class="form-control" rows="5"
							(focusout)="helperService.onTrimFocusOutForm(info, 'bonus_policy', $event)"
							placeholder="{{ 'Vui lòng mô tả cụ thể, nội dung mô tả càng chi tiết sẽ giúp chúng tôi tiếp nhận yêu cầu nhanh hơn...' | translate }}"
							formControlName="bonus_policy"></textarea>
					</div>
					<div class="col-12 mb-4">
						<label class="form-label" translate>Chính sách hậu mãi</label>
						<textarea class="form-control" rows="5" formControlName="after_sale_policy"
							(focusout)="helperService.onTrimFocusOutForm(info, 'after_sale_policy', $event)"
							placeholder="{{ 'Vui lòng mô tả cụ thể, nội dung mô tả càng chi tiết sẽ giúp chúng tôi tiếp nhận yêu cầu nhanh hơn...' | translate }}"></textarea>
					</div>
					<div class="col-12 mb-4">
						<label class="form-label" translate>Các kênh online/offline đang chạy</label>
						<ng-container *ngFor="let item of viral_info_list; index as i">
							<div
								class="form-control d-md-flex position-relative form-link-onl align-items-center mb-2 gap-3 {{ errorLink(i) ? 'is-invalid' : '' }}">
								<div class="d-flex d-sm-block align-items-center">
									<ng-select [items]="viral_info_config" bindLabel="name" bindValue="name"
										placeholder="Chọn" style="min-width: 170px" [clearable]="false"
										class="my-2 form-link-onl--select" [(ngModel)]="item.name"
										[ngModelOptions]="{ standalone: true }"></ng-select>
									<i *ngIf="viral_info_list.length > 1"
										class="fa fa-xmark cursor-pointer p-2 mx-2 d-sm-none"
										(click)="removeViralInfo(i)"></i>
								</div>
								<input class="form-control my-2 p-2 px-4 w-100" style="height: 43px !important;"
									placeholder="{{ 'Nhập kênh của bạn' | translate }}" [(ngModel)]="item.value"
									[ngModelOptions]="{ standalone: true }" (change)="onChangeViralInfo($event, i)" />
								<i *ngIf="viral_info_list.length > 1"
									class="fa fa-xmark cursor-pointer d-none d-sm-block p-2"
									(click)="removeViralInfo(i)"></i>
							</div>
							<ng-container *ngIf="errorLink(i)">
								<at-error [isForm]="false" [message]="'Link không đúng định dạng'"></at-error>
							</ng-container>
						</ng-container>
						<div class="text-center cursor-pointer mt-4" (click)="addViralInfo()"
							style="border: 1px solid #D0D5DD; border-style: dashed; border-radius: 8px; padding: 8px 12px">
							<i class="fa fa-plus mr-2"></i> Thêm kênh
						</div>
					</div>
					<div class="col-md-6 col-12 mb-4">
						<label class="form-label" translate>Tỉ lệ chuyển đổi từ click sang đơn hàng</label>
						<input class="form-control" placeholder="{{ '' | translate }}"
							formControlName="conversion_rate" />
					</div>
					<div class="col-md-6 col-12 mb-4">
						<label class="form-label required" translate>Mục tiêu kỳ vọng</label>
						<input class="form-control" placeholder="{{ '' | translate }}"
							(focusout)="helperService.onTrimFocusOutForm(info, 'performance', $event)"
							[ngClass]="{'is-invalid': (helperService.showStatusError(info, 'performance', submitted))}"
							formControlName="performance" />
						<at-error [submitted]="submitted" [control]="info.get('performance')" validation="required"
							message="Trường này không được để trống.">
						</at-error>
					</div>
				</ng-container>
				<div class="col-md-12 col-12 mb-4">
					<label class="form-label required" translate>Giải pháp lựa chọn</label>
					<ng-select [items]="configs.service_type" [multiple]="true" bindLabel="full_name" bindValue="value"
						[hideSelected]="true"
						[ngClass]="{'is-invalid': (helperService.showStatusError(form, 'service_type', submitted))}"
						placeholder="{{ 'Chọn giải pháp' | translate }}" formControlName="service_type"></ng-select>
					<at-error [submitted]="submitted" [control]="form.get('service_type')" validation="required"
						message="Trường này không được để trống.">
					</at-error>
				</div>
				<div class="col-md-12 col-12 mb-4" *ngIf="form?.value?.service_type?.length > 0">
					<label class="form-label " translate>Sản phẩm theo giải pháp</label>
					<ng-select [items]="service_products_config" 
						[multiple]="true" bindLabel="name" bindValue="value"
						[hideSelected]="true"
						(change)="selectedProducts($event)"
						[ngClass]="{'is-invalid': (helperService.showStatusError(form, 'products', submitted))}"
						placeholder="{{ 'Chọn sản phẩm' | translate }}" 
						formControlName="products"></ng-select>
					<at-error [submitted]="submitted" [control]="form.get('products')" validation="required"
						message="Trường này không được để trống.">
					</at-error>
				</div>
				<div class="col-md-6 col-12 mb-4">
					<label class="form-label" translate>Thời gian mong muốn</label>
					<div class="row">
						<div class="col-md-6 col-12 mb-2">
							<!-- <advance-date-picker [selected]="from_date" [defaultDateFormat]="'YYYY-MM-DD'"
								 [showRange]="false"
								(dateChange)="getDateChange($event, 'from_date')" [singleDatePicker]="true">
							</advance-date-picker> -->
							<input type="date" class="form-control" placeholder="DD-MM-YYYY"
								[ngClass]="{'is-invalid': messageErrorDate && (submitted || helperService.checkTouchOrDirty(form, 'desired_timeline_start'))}"
								min="{{currentDate}}" formControlName="desired_timeline_start" />
						</div>
						<div class="col-md-6 col-12 mb-2">
							<!-- <advance-date-picker [selected]="to_date" [defaultDateFormat]="'YYYY-MM-DD'"
								[showRange]="false"
								(dateChange)="getDateChange($event, 'to_date')" [singleDatePicker]="true">
							</advance-date-picker> -->
							<input type="date" class="form-control" placeholder="DD-MM-YYYY" min="{{minDateEnd}}"
								[ngClass]="{'is-invalid': messageErrorDate && (submitted || helperService.checkTouchOrDirty(form, 'desired_timeline_end'))}"
								formControlName="desired_timeline_end" />
						</div>
						<div class="col-12">
							<at-error [submitted]="submitted" [isForm]="false"
								[control]="form.get('desired_timeline_end')" [message]="messageErrorDate">
							</at-error>
						</div>
					</div>
				</div>
				<div class="col-12 mb-4">
					<label class="form-label required" translate>Ngân sách sẵn sàng chi trả</label>
					<ng-select [items]="rank_budget_config" bindLabel="name" bindValue="value" [hideSelected]="true"
						[ngClass]="{'is-invalid': (helperService.showStatusError(form, 'rank_budget', submitted))}"
						placeholder="{{ 'Chọn mức ngân sách' | translate }}" formControlName="rank_budget"></ng-select>
					<at-error [submitted]="submitted" [control]="form.get('rank_budget')" validation="required"
						message="Trường này không được để trống.">
					</at-error>
				</div>
                <ng-container formGroupName="info">
                    <div class="col-12">
                        <label class="form-label required" translate>Luồng người dùng cần thực hiện chính</label>
                        <textarea class="form-control" rows="5" (focusout)="helperService.onTrimFocusOutForm(info, 'user_flow', $event)"
                            placeholder="Ví dụ:
Bước 1: Cài đặt ứng dụng trên App Store
Bước 2: Đăng ký tài khoản, nhập mã giới thiệu ACCESSTRADE
Bước 3: EKYC thành công"
                            [ngClass]="{'is-invalid': helperService.showStatusError(info, 'user_flow', submitted)}" formControlName="user_flow"></textarea>
                        <at-error [submitted]="submitted" [control]="info.get('user_flow')" validation="required"
                            message="Trường này không được để trống.">
                        </at-error>
                    </div>
                </ng-container>
			</div>

			<hr class="line-gray mt-5 mb-5">

			<div class="fs16 fw-600 mb-5">Đầu mối liên hệ</div>
			<form class="row" formGroupName="contact_info">
				<div class="col-12 mb-4">
					<label class="form-label required" translate>Họ và tên</label>
					<input class="form-control" placeholder="{{ 'Nguyễn Văn A' }}"
						[ngClass]="{'is-invalid': (helperService.showStatusError(contact_info, 'name', submitted))}"
						(focusout)="helperService.onTrimFocusOutForm(contact_info, 'name', $event)"
						formControlName="name" />
					<at-error [submitted]="submitted" [control]="contact_info?.get('name')" validation="required"
						message="Trường này không được để trống.">
					</at-error>

					<at-error [submitted]="submitted" [control]="contact_info?.get('name')" validation="pattern"
						message="Trường này không đúng định dạng.">
					</at-error>
				</div>

				<div class="col-12 mb-4">
					<label class="form-label required" translate>Email</label>
					<input class="form-control" placeholder="{{ 'nva@gmail.com' }}"
						[ngClass]="{'is-invalid': (helperService.showStatusError(contact_info, 'email', submitted))}"
						(input)="helperService.onInputForm(contact_info, 'email', $event, {trim: true, lower: true})"
						formControlName="email" />
					<at-error [submitted]="submitted" [control]="contact_info?.get('email')" validation="required"
						message="Trường này không được để trống.">
					</at-error>
					<at-error [submitted]="submitted" [control]="contact_info?.get('email')" validation="pattern"
						message="Trường này không đúng định dạng.">
					</at-error>
				</div>
				<div class="col-12 mb-4">
					<label class="form-label required" translate>Số điện thoại</label>
					<input class="form-control" placeholder="{{ '0123456789' }}"
						(input)="helperService.onInputForm(contact_info, 'phone', $event, {trim: true})"
						[ngClass]="{'is-invalid': (helperService.showStatusError(contact_info, 'phone', submitted))}"
						formControlName="phone" />
					<at-error [submitted]="submitted" [control]="contact_info?.get('phone')" validation="required"
						message="Trường này không được để trống.">
					</at-error>
					<at-error [submitted]="submitted" [control]="contact_info?.get('phone')" validation="pattern"
						message="Trường này không đúng định dạng.">
					</at-error>
				</div>
				<!-- <div class="col-12">
					<label class="form-label" translate>Địa chỉ</label>
					<input class="form-control" placeholder="{{ '' | translate }}" formControlName="address"/>
				</div> -->
			</form>
		</form>
	</div>

	<hr class="line-gray mt-5 mb-5">

	<div class="row">
		<div class="col-md-6 col-12 mb-2">
			<button class="btn btn-sm btn-outline-base w-100" (click)="onClose()" translate>Hủy bỏ</button>
		</div>
		<div class="col-md-6 col-12 mb-2">
			<button class="btn btn-sm btn-orange w-100" (click)="submit()" [disabled]="form.invalid" translate>Hoàn
				tất</button>
		</div>
	</div>
</div>

<app-spinner [loading]="loading"></app-spinner>