<ng-container *ngIf="toggleEnabled">
	<div id="kt_app_sidebar_toggle" #isActive style="z-index: 99999; border: 1px solid #D0D5DD"
		(click)="isActiveClass()"
		class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary body-bg h-30px w-30px top-50 position-absolute start-100 translate-middle rotate"
		[ngClass]="toggleButtonClass" data-kt-toggle="true" [attr.data-kt-toggle-state]="toggleState"
		data-kt-toggle-target="body" [attr.data-kt-toggle-name]="toggleAttr">
		<span [inlineSVG]="'./assets/media/icons/arr079.svg'"
			class="svg-icon svg-icon-2 {{ arrowLeft ? 'rotate-180' : '' }}"></span>
	</div>
</ng-container>

<!--begin::Menu wrapper-->
<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y py-5 border-right-l"
	data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto"
	data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
	data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">

	<!--begin::Menu-->
	<div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true"
		data-kt-menu-expand="false">
		<ng-container *ngFor="let item of sideBarNavItem">
			<ng-container *ngIf="item.sub_menu && item.sub_menu.length > 0; else noLink">
				<div class="menu-item menu-accordion" [ngClass]="{'show': activeModule(item.module_prefix)}"
					data-kt-menu-trigger="click" routerLinkActive="here show">
					<ng-container [ngTemplateOutlet]="menuParentItemTmpl" [ngTemplateOutletContext]="{
                            svgIcon: item.icon,
                            title: item.title | translate
                            }">
					</ng-container>	
					<div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
						<ng-container *ngFor="let childItem of item.sub_menu">
							<ng-container [ngTemplateOutlet]="menuSubItemTmpl"
								[ngTemplateOutletContext]="{ 
									routerLink: childItem.path,  
									title: childItem.title,
									svgIcon: childItem?.icon
									}">
							</ng-container>
						</ng-container>
					</div>
				</div>
			</ng-container>
			<ng-template #noLink>
				<ng-container [ngTemplateOutlet]="menuItemWithoutSubTmpl" [ngTemplateOutletContext]="{
                        svgIcon: item.icon,
                        title: item.title,
                        routerLink: item.path,
						target: item._target
                        }">
				</ng-container>
			</ng-template>
		</ng-container>
	</div>
	<!--end::Menu-->
</div>


<ng-template #menuSubItemTmpl let-routerLink="routerLink" let-title="title" let-svgIcon="svgIcon">
	<div class="menu-item">
		<a class="menu-link without-sub" routerLinkActive="active" [routerLink]="routerLink">
			<span class="menu-bullet">
				<span class="menu-icon" *ngIf="svgIcon">
					<span class="svg-icon svg">
						<i class="{{svgIcon}}"></i>
					</span>
				</span>
				<span class="bullet bullet-dot" *ngIf="!svgIcon"></span>
				</span>
				<span class="menu-title">{{title | translate}}</span>
			</a>
	</div>
</ng-template>
<ng-template #menuParentItemTmpl let-svgIcon="svgIcon" let-title="title">
	<span class="menu-link menu-parent">
		<span class="menu-icon">
			<span class="svg-icon svg">
				<i class="{{svgIcon}}"></i>
			</span>
		</span>
		<span class="menu-title">{{title | translate}}</span><span class="menu-arrow"></span></span>
</ng-template>

<ng-template #menuItemWithoutSubTmpl let-svgIcon="svgIcon" let-routerLink="routerLink" let-title="title"
	let-target="target">
	<div class="menu-item" (click)="tracking($event)">
		<a *ngIf="!target" class="menu-link without-sub" [routerLink]="routerLink" routerLinkActive="active">
			<span class="menu-icon">
				<span class="svg-icon svg-icon-2">
					<i class="{{svgIcon}}"></i>
				</span>
			</span>
			<span class="menu-title">{{title | translate}}</span>
		</a>
		<a *ngIf="target" class="menu-link without-sub" href="{{routerLink}}" target="_blank">
			<span class="menu-icon">
				<span class="svg-icon svg-icon-2">
					<i class="{{svgIcon}}"></i>
				</span>
			</span>
			<span class="menu-title">{{title | translate}}</span>
		</a>
	</div>
</ng-template>

<ng-template #separatorTmpl let-name="">
	<div class="menu-item">
		<div class="menu-content pt-8 pb-2">
			<span class="menu-section text-muted text-uppercase fs-8 ls-1">{{name | translate}}</span>
		</div>
	</div>
</ng-template>