.border-right-l {
    border-right: 1px solid var(--kt-app-sidebar-light-separator-color);
    height: 100% !important;
}

.search-input {
    width: 100%;
}

.search-input:focus {
    outline: none;
}

.menu-accordion.menu-item.show .menu-link.menu-parent  {
	span, .menu-icon i, .menu-arrow {
		color: var(--kt-gray-900);
	}

	.menu-arrow::after {
		background-color: var(--kt-gray-900);
	}
}