<div >
	<oat-page-title [title]="title" [breadcrumb]="breadcrumbs"></oat-page-title>
	<div class="card">
		<div class="card-body p-0 mt-5">
			<div style="border: 1px solid #EAECF0; border-radius: 16px">
				<div class="p-5">
					<form class="row" [formGroup]="searchForm" (ngSubmit)="search()">
						<div class="form-group col-md-4 col-12">
							<label class="form-label">Tên sản phẩm:</label>
							<input class="form-control search-input" placeholder="Tên sản phẩm" formControlName="name">
						</div>

					</form>

					<div class=" d-flex justify-content-between align-items-end my-3">
						<div class="d-flex gap-5">
							<a class="btn btn-primary text-right h-40 d-flex align-items-center gap-2"
								(click)="search()">
								<i class="fa fa-plus m-0" style="color: #ffffff"></i>
								<span>Tìm kiếm</span>
							</a>
							<a class="btn btn-secondary text-right h-40 d-flex align-items-center gap-2"
								(click)="reset()">
								<i class="fa fa-sync m-0"></i>
								
							</a>
						</div>
						<a class="btn btn-orange text-right h-40 d-flex align-items-center gap-2"
							routerLink="/account/user/store">
							<i class="fa fa-plus m-0" style="color: #ffffff"></i>
							<span>Tạo mới</span>
						</a>
					</div>

				</div>

				<div class="table-responsive" style="overflow-y: auto; max-height:2000px">
					<table class="table table-row-bordered table-hover align-middle cursor-default">
						<div class="position-relative h-400px" *ngIf="loading">
							<app-spinner [loading]="loading"></app-spinner>
						</div>
						<ng-container *ngIf="!loading">
							<thead style="background-color: #F9FAFB;">
								<tr class="fw-500 border-top">
									<th class="text-nowrap text-center px-2" translate>#</th>
									<th class="text-nowrap text-center" translate>Avatar</th>
									<th class="text-nowrap" translate>Name</th>
									<th class="text-nowrap" translate>Email</th>
									<th class="text-nowrap" translate>Phone Number</th>
									<th class="text-nowrap" translate>Status</th>
									<th class="text-nowrap" translate>Created at</th>
									<th class="text-nowrap text-center" translate>Operations</th>
								</tr>
							</thead>
							<tbody>
								<ng-container *ngIf="listData?.length > 0, else noData">
									<ng-container *ngFor="let item of listData; index as i">
										<tr class="border-bottom">
											<td class="text-center px-2">{{ (paging.page > 1 ? paging.page * 10 : 0) + i
												+ 1
												}}</td>
											<td class="text-nowrap ">
												<img class="mx-auto" [src]="helperService.buildImage(item.avatar)"
													alt="{{item?.id}}" style="width: 80px; height: 80px;">
											</td>
											<td style="min-width: 200px;">
												{{ item?.name }}
											</td>
											<td style="min-width: 200px;">
												{{ item?.email }}
											</td>
											<td class="text-nowrap">
												{{item.phone}}
											</td>
											<td class="text-nowrap">
												<span class="{{item.status_class}}">
													{{item.status_name}}
												</span>
											</td>
											<td class="text-nowrap">{{ item.created_at | date: 'dd/MM/YYYY' }}</td>

											<td class="text-nowrap text-center px-4">
												<button mat-icon-button [matMenuTriggerFor]="menu"
													class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
													<i class="bi bi-three-dots"></i>
												</button>
												<mat-menu #menu="matMenu">
													<a mat-menu-item class="d-flex align-items-center"
														[routerLink]="'/account/user/edit/'+item.id">
														<span>Cập nhật</span>
													</a>
													<button mat-menu-item class="d-flex align-items-center"
														(click)="deleteData(item)">
														<span>Xóa</span>
													</button>
												</mat-menu>
											</td>
										</tr>
									</ng-container>
								</ng-container>
								<ng-template #noData>
									<tr class="border-bottom-0">
										<td class="text-nowrap text-center" colspan="6" translate>Empty data</td>
									</tr>
								</ng-template>

							</tbody>
						</ng-container>
					</table>

					
					<app-pagination [paging]="paging"
					(changePaged)="changePage($event)"></app-pagination>
				</div>
			</div>
		</div>
	</div>
</div>