<div class="container-fluid card h-100 py-5">
	<div class="card-body w-100 d-flex">
        <div class="form mx-auto my-sm-auto my-10 w-100">
            <form [formGroup]="form">
                <div class="d-flex justify-content-center">
                    <img alt="Logo" src="../../assets/media/logos/logo-at-splash.png" width="250" height="75" />
                </div>
                <h1 class="title mb-4 mt-8">Xác thực email để đặt lại mật khẩu</h1>

                <div class="row">
                    <div class="col-12 mb-2">
                        <label class="form-label">Nhập email đã đăng ký</label>
                            <input class="form-control"
                                (focusout)="helperService.onTrimFocusOutForm(form, 'email', $event)"
                                (input)="helperService.onInputForm(form, 'email', $event, {trim: true, lower: true})"
                                [ngClass]="{'is-invalid': (helperService.showStatusError(form, 'email'))}"
                                placeholder="Nhập email" formControlName="email">

                            <at-error [control]="form.get('email')" validation="required"
                                message="Email không được để trống.">
                            </at-error>
                            <at-error [control]="form.get('email')" validation="pattern"
                                message="Email không đúng định dạng.">
                            </at-error>
                            <at-error [control]="form.get('email')" validation="maxlength"
                                message="Email có độ dài tối đa 255 ký tự.">
                            </at-error>
                    </div>
                    <div class="col-12 mb-5 d-flex justify-content-end">
                        <a href="/auth/login"><span class="text-orange fw-600">Đăng nhập</span></a>
                    </div>
                    <div class="col-12 mb-5 mt-5">
                        <button *ngIf="!disabledButton" class="btn btn-orange w-100" (click)="submit()"
                            [disabled]="form.invalid || disabledButton">Đặt lại mật khẩu</button>
                        <button *ngIf="disabledButton" class="btn btn-orange w-100 d-flex justify-content-center" style="height: 45.56px;">
                            <img src="../../../../assets/media/common/loading-gif.gif" width="20" height="20">
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        Bạn muốn đăng ký tài khoản mới?
                        <a href="/auth/register"><span class="text-orange fw-600 cursor-pointer">Đăng ký ngay</span></a>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>