<div class="card py-5 container-fluid">
	<div class="position-absolute" style="left: 5%;" *ngIf="completed">
		<button class="btn btn-outline" (click)="back()">
			<i class="fa fa-arrow-left mr-1"></i>
			<span class="fw-500">Quay lại</span>
		</button>
	</div>

	<div class="card-body h-100 mx-4 p-0">
		<div class="form w-100 mx-sm-auto" [ngClass]="{ 'form-complete': completed }">
			<ng-container >
				
				<div class="text-center">
					<h1 class="title">Đăng ký tài khoản CMS dành cho quản trị</h1>
				</div>
				<div class="text-center mb-10" style="color: #475467;">Vui lòng hoàn thành các thông tin dưới đây</div>
				<form [formGroup]="form">
					<div class="row mb-5">
						<div class="col-12 mb-5">
							<label class="form-label required">Họ và tên</label>
							<input class="form-control"
								(focusout)="helperService.onTrimFocusOutForm(form, 'name', $event)"
								[ngClass]="{'is-invalid': (helperService.showStatusError(form, 'name')  || fails?.name?.length > 0)}"
								placeholder="Nhập họ và tên" formControlName="name">
							<at-error [control]="form.get('name')" validation="required"
								message="Họ và tên không được để trống.">
							</at-error>
							<at-error [control]="form.get('name')" validation="pattern"
								message="Họ và tên không đúng định dạng.">
							</at-error>
							<at-error [control]="form.get('name')" validation="maxlength"
								message="Họ và tên có độ dài tối đa 50 ký tự.">
							</at-error>
						</div>
						<div class="col-12 mb-5" >
							<label class="form-label required">Email liên hệ</label>
							<input class="form-control"
								(focusout)="helperService.onTrimFocusOutForm(form, 'email', $event)"
								(input)="helperService.onInputForm(form, 'email', $event, {trim: true, lower: true})"
								[ngClass]="{'is-invalid': (helperService.showStatusError(form, 'email')  || fails?.email?.length > 0)}"
								placeholder="Nhập email liên hệ" formControlName="email"
								(change)="onChange($event, 'email')">

							<at-error [control]="form.get('email')" validation="required"
								message="Email không được để trống.">
							</at-error>
							<at-error [control]="form.get('email')" validation="pattern"
								message="Email không đúng định dạng.">
							</at-error>
							<div class="sub-invalid" *ngIf="fails && fails['email']">
								<span>
									{{ fails['email'][0] }}
								</span>
							</div>
							<at-error [control]="form.get('email')" validation="maxlength"
								message="Email có độ dài tối đa 255 ký tự.">
							</at-error>
						</div>
						<div class="col-12 mb-5">
							<label class="form-label required">Mật khẩu</label>
							<div class="position-relative d-flex align-items-center">
								<input type="{{ showPw ? 'text' : 'password' }}" placeholder="Nhập mật khẩu"
									formControlName="password" class="form-control bg-img-none" autocomplete=""
									[ngClass]="{'is-invalid': ((fails && fails['password']) 
										||  helperService.showStatusError(form, 'password') 
										|| !checkMatchPassword())}" (change)="changeText($event, 'password')"
									(input)="helperService.onInputForm(form, 'password', $event, {trim: true})"
									(focusout)="helperService.onTrimFocusOutForm(form, 'password', $event)">
								<a class="position-absolute cursor-pointer p-2" style="right: 15px;"
									(click)="showPassword(1)">
									<i class="fa {{ showPw ? 'fa-eye' : 'fa-eye-slash' }}"></i></a>
							</div>
							<at-error [control]="form.get('password')" validation="required"
								message="Mật khẩu không được để trống.">
							</at-error>
							<at-error [control]="form.get('password')" validation="minlength"
								[message]="'Mật khẩu có độ dài tối thiểu 8 ký tự.'">
							</at-error>
                            <at-error [control]="form.get('password')" validation="pattern" 
                                [message]="'Mật khẩu không bao gồm dấu và khoảng trắng.'"></at-error>
							<at-error [control]="form.get('password')" validation="maxlength"
								message="Mật khẩu có độ dài tối đa 16 ký tự.">
							</at-error>
							<div class="sub-invalid" *ngIf="fails && fails['password']">
								<span>{{ fails['password'][0] }}</span>
							</div>
							<p class="mb-0" style="color: #475467">Mật khẩu có độ dài từ 8-16 ký tự, không bao gồm ký tự
								có dấu
								và
								khoảng trắng.</p>

						</div>
						<div class="col-12 mb-5">
							<label class="form-label required">Nhập lại mật khẩu</label>
							<div class="position-relative d-flex align-items-center">
								<input type="{{ showCfPw ? 'text' : 'password' }}" placeholder="Nhập lại mật khẩu"
									formControlName="password_confirmation" autocomplete=""
									class="form-control bg-img-none " [ngClass]="{'is-invalid': ((fails && fails['password_confirmation']) 
										||  helperService.showStatusError(form, 'password_confirmation') 
										|| !checkMatchPassword())}" (change)="checkMatchPassword()"
									(input)="helperService.onInputForm(form, 'password_confirmation', $event, {trim: true})">
								<a class="position-absolute cursor-pointer p-2" style="right: 15px;"
									(click)="showPassword(2)">
									<i class="fa {{ showCfPw ? 'fa-eye' : 'fa-eye-slash' }}"></i></a>
							</div>
							<at-error [control]="form.get('password_confirmation')" validation="required"
								message="Mật khẩu xác nhận không được để trống.">
							</at-error>
							<at-error [control]="form.get('password_confirmation')" validation="minlength"
								[message]="'Mật khẩu xác nhận có độ dài tối thiểu 8 ký tự.'">
							</at-error>
							<at-error [control]="form.get('password_confirmation')" validation="maxlength"
								message="Mật khẩu xác nhận có độ dài tối đa 16 ký tự.">
							</at-error>
							<div class="sub-invalid" *ngIf="fails && fails['password_confirmation']">
								<span>{{ fails['password_confirmation'][0] }}</span>
							</div>
							<p *ngIf="!checkMatchPassword()" class="text-red-500">
								Mật khẩu và mật khẩu nhập lại không trùng khớp.
							</p>

						</div>
						<div class="col-12 mb-5">
							<label class="form-label required">Số điện thoại liên hệ</label>
							<div class="form-control d-flex"
								[ngClass]="{'is-invalid': (helperService.showStatusError(form, 'phone') || fails?.phone?.length > 0), 'disabled' : disabledPhone}"
								onkeypress="return (event.charCode == 8 || event.charCode == 0 ) ? null : event.charCode >= 48 && event.charCode <= 57"
								(change)="onChange($event, 'phone')">
								<!-- <select [disabled]="true">
									<option>+84</option>
								</select> -->
								<div>+84</div>
								<input class="custom-input ml-2" (focusout)="helperService.onTrimFocusOutForm(form, 'phone', $event)" placeholder="Nhập số điện thoại liên hệ"
									formControlName="phone" >
							</div>
							<at-error [control]="form.get('phone')" validation="required"
								message="Số điện thoại không được để trống.">
							</at-error>
							<at-error [control]="form.get('phone')" validation="pattern"
								message="Số điện thoại không đúng định dạng.">
							</at-error>
							<div class="sub-invalid" *ngIf="fails && fails['phone']">
								<span translate>{{ fails['phone'][0] }}</span>
							</div>
						</div>
						
						<div class="col-12 mb-5 mt-4">
							<button *ngIf="!disabledButtonComplete" class="btn btn-orange w-100" (click)="register()" [disabled]="form.invalid">Hoàn tất</button>
							<button *ngIf="disabledButtonComplete" class="btn btn-orange w-100 d-flex justify-content-center">
								<img src="../../../../assets/media/common/loading-gif.gif" width="20" height="20">
							</button>
						</div>
					</div>

				</form>

				<div class="row">
					<div class="col-12 text-center">
						Bạn đã có tài khoản?
						<span class="text-orange fw-600 cursor-pointer" (click)="logout()">Đăng nhập</span>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>