<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Tên yêu cầu</label>
	</div>
	<div class="col-md-9 col-12">
		<div class="form-control form-control-disabled text-break">
			<span class="text-input-color-disabled">{{ data?.name }}</span>
		</div>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Vấn đề/nhu cầu/bài toán cần giải</label>
	</div>
	<div class="col-md-9 col-12">
		<input class="form-control" *ngIf="!data?.description" [value]="''" [disabled]="true">
		<textarea class="form-control" *ngIf="data?.description" rows="5" [value]="data?.description" [disabled]="true"></textarea>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Link giới thiệu sản phẩm</label>
	</div>
	<div class="col-md-9 col-12">
		<div class="form-control form-control-disabled text-break">
			<a class="text-input-color-disabled text-decoration-underline" style="color: #009ef7;" 
				*ngIf="data?.info?.link" href="{{ checkHttpLink(data?.info?.link) ? data?.info?.link : 'https://' + data?.info?.link }}" target="_blank">{{ data?.info?.link }}</a>
		</div>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Sản lượng bán hiện tại</label>
	</div>
	<div class="col-md-9 col-12">
		<input class="form-control" [value]="data?.quantitySaleName" [disabled]="true">
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Điểm khác biệt của sản phẩm</label>
	</div>
	<div class="col-md-9 col-12">
		<input class="form-control" *ngIf="!data?.info?.usp" [value]="''" [disabled]="true">
		<textarea class="form-control" *ngIf="data?.info?.usp" rows="5" [value]="data?.info?.usp" [disabled]="true"></textarea>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Phân khúc và chân dung khách hàng</label>
	</div>
	<div class="col-md-9 col-12">
		<input class="form-control" *ngIf="!data?.info?.customer" [value]="''" [disabled]="true">
		<textarea class="form-control" *ngIf="data?.info?.customer" rows="5" [value]="data?.info?.customer" [disabled]="true"></textarea>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Thị trường tập trung</label>
	</div>
	<div class="col-md-9 col-12">
		<input class="form-control" *ngIf="!data?.focusAreaName || data?.focusAreaName?.length <= 0" [value]="''" [disabled]="true">
		<div class="form-control form-control-disabled overflow-y-scroll" *ngIf="data?.focusAreaName?.length > 0" style="max-height: 90px; scrollbar-width: auto;">
			<ng-container *ngFor="let item of data.focusAreaName">
				<p class="text-input-color-disabled">{{ item }}</p>
			</ng-container>
		</div>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Chương trình khuyến mãi</label>
	</div>
	<div class="col-md-9 col-12">
		
		<input class="form-control" *ngIf="!data?.info?.bonus_policy" [value]="''" [disabled]="true">
		<textarea class="form-control" *ngIf="data?.info?.bonus_policy" rows="5" [value]="data?.info?.bonus_policy" [disabled]="true"></textarea>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Chính sách hậu mãi</label>
	</div>
	<div class="col-md-9 col-12">
		
		<input class="form-control" *ngIf="!data?.info?.after_sale_policy" [value]="''" [disabled]="true">
		<textarea class="form-control" *ngIf="data?.info?.after_sale_policy" rows="5" [value]="data?.info?.after_sale_policy" [disabled]="true"></textarea>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Các kênh online/offline đang chạy</label>
	</div>
	<div class="col-md-9 col-12">
		<input class="form-control" [value]="''" [disabled]="true" *ngIf="!isArrayViralInfo">
		<div class="form-control form-control-disabled" *ngIf="viralInfoName?.length > 0">
			<ng-container *ngFor="let item of viralInfoName; index as i">
				<p class="text-input-color-disabled" *ngIf="item?.name && item?.value">
					{{ item.name }}: <a class="text-decoration-underline" style="color: #009ef7;" href="{{ checkHttpLink(item.value) ? item.value : 'https://' + item.value }}" target="_blank">{{ item.value }}</a>
				</p>
			</ng-container>
		</div>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Tỉ lệ chuyển đổi</label>
	</div>
	<div class="col-md-9 col-12">
		<div class="form-control form-control-disabled text-break" *ngIf="data?.info?.conversion_rate">
			<span class="text-input-color-disabled">{{ data?.info?.conversion_rate }}</span>
		</div>
		<input class="form-control" *ngIf="!data?.info?.conversion_rate" [value]="''" [disabled]="true">
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Mục tiêu kỳ vọng</label>
	</div>
	<div class="col-md-9 col-12">
		<div class="form-control form-control-disabled text-break">
			<span class="text-input-color-disabled">{{ data?.info?.performance }}</span>
		</div>
		<!-- <input class="form-control" [value]="" [disabled]="true"> -->
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Giải pháp lựa chọn</label>
	</div>
	<div class="col-md-9 col-12">
		<div class="form-control form-control-disabled">
			<ng-container *ngIf="data?.serviceTypeName">
				<ng-container *ngFor="let item of data.serviceTypeName">
					<p class="text-input-color-disabled">{{ item }}</p>
				</ng-container>
			</ng-container>
		</div>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Sản phẩm theo giải pháp</label>
	</div>
	<div class="col-md-9 col-12">
		<div class="form-control form-control-disabled" style="min-height: 44px; max-height: 130px; overflow-y: scroll ;">
			<ng-container *ngIf="data?.service_products?.length > 0">
				<ng-container *ngFor="let item of data?.service_products">
					<p class="text-input-color-disabled">{{ item?.name }}</p>
				</ng-container>
			</ng-container>
			
		</div>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Thời gian mong muốn</label>
	</div>
	<div class="col-md-9 col-12">
		<input class="form-control" *ngIf="!data?.desired_timeline_start && !data?.desired_timeline_end"
			[value]="''" [disabled]="true">
		<div class="form-control form-control-disabled text-break text-input-color-disabled" *ngIf="data?.desired_timeline_start || data?.desired_timeline_end">
			<span *ngIf="data?.desired_timeline_start">
				{{data?.desired_timeline_start | date: 'dd/MM/YYYY'}}
			</span>
			<span class="mx-1" *ngIf="data?.desired_timeline_start && data?.desired_timeline_end">-</span>
			<span *ngIf="data?.desired_timeline_end">
				{{data?.desired_timeline_end | date: 'dd/MM/YYYY'}}
			</span>
		</div>
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Ngân sách sẵn sàng chi trả</label>
	</div>
	<div class="col-md-9 col-12">
		<input class="form-control" [value]="data?.budget" [disabled]="true">
	</div>
</div>
<hr class="line-gray mt-5 mb-5">
<div class="row">
	<div class="col-md-3 col-12">
		<label class="form-label" translate>Luồng người dùng cần thực hiện chính</label>
	</div>
	<div class="col-md-9 col-12">
		<input class="form-control" *ngIf="!data?.info?.user_flow" [value]="''" [disabled]="true">
		<textarea class="form-control" *ngIf="data?.info?.user_flow" rows="5" [value]="data?.info?.user_flow" [disabled]="true"></textarea>
	</div>
</div>
<div class="welcome-text mt-8 mb-3">Thông tin liên hệ</div>
<hr class="line-gray mt-5 mb-5">

<div class="d-md-flex">
	<div class="w-md-50 w-100 m-2 p-3 border rounded">
		<div class="welcome-text-content m-3">Doanh nghiệp</div>
		<hr class="line-gray mt-5 mb-5">
		<div class="row">
			<div class="col-md-3 col-12">
				<label class="form-label" translate>Họ và tên</label>
			</div>
			<div class="col-md-9 col-12">
				<input class="form-control" [value]="data?.contact_info?.name" [disabled]="true">
			</div>
		</div>
		<hr class="line-gray mt-5 mb-5">
		<div class="row">
			<div class="col-md-3 col-12">
				<label class="form-label" translate>Email</label>
			</div>
			<div class="col-md-9 col-12">
				<input class="form-control" [value]="data?.contact_info?.email" [disabled]="true">
			</div>
		</div>
		<hr class="line-gray mt-5 mb-5">
		<div class="row">
			<div class="col-md-3 col-12">
				<label class="form-label" translate>Số điện thoại</label>
			</div>
			<div class="col-md-9 col-12">
				<input class="form-control" [value]="data?.contact_info?.phone" [disabled]="true">
			</div>
		</div>
	</div>
	<div class="w-md-50 w-100 p-3 m-2 border rounded">
		<div class="welcome-text-content m-3">ACCESSTRADE</div>

		<hr class="line-gray mt-5 mb-5">
		<div class="row">
			<div class="col-md-3 col-12">
				<label class="form-label" translate>Họ và tên</label>
			</div>
			<div class="col-md-9 col-12">
				<input class="form-control" [value]="data?.follow_info?.name" [disabled]="true">
			</div>
		</div>
		<hr class="line-gray mt-5 mb-5">
		<div class="row">
			<div class="col-md-3 col-12">
				<label class="form-label" translate>Email</label>
			</div>
			<div class="col-md-9 col-12">
				<input class="form-control" [value]="data?.follow_info?.email" [disabled]="true">
			</div>
		</div>
		<hr class="line-gray mt-5 mb-5">
		<div class="row">
			<div class="col-md-3 col-12">
				<label class="form-label" translate>Số điện thoại</label>
			</div>
			<div class="col-md-9 col-12 ">
				<div class="form-control form-control-disabled text-break" *ngIf="data?.follow_info?.phone" >
					<a class="text-input-color-disabled text-decoration-underline" style="color: #009ef7;" 
					href="{{  checkHttpLink(data?.follow_info?.phone, {start:'https://zalo.me/' }) }}" 
					target="_blank">{{ data?.follow_info?.phone }}</a>
				</div>
				<input class="form-control" *ngIf="!data?.follow_info?.phone" [disabled]="true">
			</div>
		</div>
		<!-- <hr class="line-gray mt-5 mb-5">
		<div class="row">
			<div class="col-md-3 col-12">
				<label class="form-label" translate>Skype</label>
			</div>
			<div class="col-md-9 col-12 ">
				<div class="form-control form-control-disabled text-break" *ngIf="data?.follow_info?.skype" >
					<a class="text-input-color-disabled text-decoration-underline" style="color: #009ef7;" 
					href="{{ checkHttpLink(data?.follow_info?.skype, {start:'skype:', end: '?chat'}) }}" 
						target="_blank">{{ data?.follow_info?.skype }}</a>
				</div>
				<input class="form-control" *ngIf="!data?.follow_info?.skype" [disabled]="true">

				
			</div>
		</div> -->
	</div>
</div>