<div class="card card-body">
	<h2 class="fs16 fw-600 mb-5">{{title}}</h2>
	<div class="position-absolute right-0 px-2 cursor-pointer" (click)="onClose()">
		<i class="fa fa-xmark" style="font-size: 1.25rem;"></i>
	</div>
	<form [formGroup]="form" class="overflow-scroll pb-4" style="max-height: 80vh;">

		<div class="row mt-5">
			<div class="col-12 form-group ">
				<label class="form-label required" translate>Đơn hàng</label>
				<ng-select [items]="listData" bindLabel="title" bindValue="id" placeholder="Chọn giá trị" (change)="handleChangeOrder($event)"
					[searchable]="true" class="" [ngClass]="{'is-invalid': 
					(helperService.showStatusError(form, 'order_id', submitted))}" placeholder="{{ 'Chọn giá trị'}}"
					formControlName="order_id">
				</ng-select>
				<at-error [submitted]="submitted" [control]="form.get('order_id')" validation="required"
					message="Trường này không được để trống.">
				</at-error>
			</div>

			<div class="col-12 form-group ">
				<label class="form-label required" translate>Chi nhánh</label>
				<ng-select [items]="listDataAgency" bindLabel="name" bindValue="id" placeholder="Chọn giá trị" (change)="handleChangeOrder($event)"
					[searchable]="true" class="" [ngClass]="{'is-invalid': 
					(helperService.showStatusError(form, 'agency_id', submitted))}" placeholder="{{ 'Chọn giá trị'}}"
					formControlName="agency_id">
				</ng-select>
				<at-error [submitted]="submitted" [control]="form.get('agency_id')" validation="required"
					message="Trường này không được để trống.">
				</at-error>
			</div>
			
			<div class="col-12 form-group mt-5">
				<label class="form-label required" translate>Phân loại kho</label>
				<ng-select [items]="typeWareHouse" bindLabel="name" bindValue="value" placeholder="Chọn giá trị"
					[searchable]="true" class="" [ngClass]="{'is-invalid': 
					(helperService.showStatusError(form, 'type', submitted))}" placeholder="{{ 'Chọn giá trị'}}"
					formControlName="type">
				</ng-select>
				<at-error [submitted]="submitted" [control]="form.get('type')" validation="required"
					message="Trường này không được để trống.">
				</at-error>
			</div>
		</div>
	</form>
	<div class="d-flex justify-content-center mt-5 gap-3 mb-5">
		<button class="btn btn-sm btn-outline-base mx-3" (click)="onClose()" translate>Cancel</button>
		<button class="btn btn-sm btn-orange mx-3" (click)="submit()">{{data?.id ? 'Cập nhật' : 'Tạo mới'}}</button>
	</div>
</div>
<app-spinner [loading]="loading"></app-spinner>