<div class="w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center">
        <img src="../../../../assets/media/auth/404-error.png" width="200">
    </div>
    <span class="text-orange fw-600 mt-5 mb-5">404 error</span>
    <span class="fs36r fw-600 mb-5" style="line-height: 44px;">Chúng tôi không tìm thấy trang này</span>
    <span class="fs20r" style="line-height: 30px; color: #475467;">
        We searched high and low, but couldn't find what you're looking for.
        <br>
        Let's find a better place for you to go.    
    </span>
</div>

<div class="mt-10">
    <a (click)="routeToDashboard()" class="btn btn-orange">Return Home</a>
</div>