//
// Content
//

// Desktop mode
@include media-breakpoint-up(lg) {
	.app-content {
		[data-kt-app-toolbar-enabled="true"]:not([data-kt-app-toolbar-fixed="true"]) & {
			padding-top: 0;
		}
	}
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
	.app-content {
		[data-kt-app-toolbar-enabled="true"]:not([data-kt-app-toolbar-fixed-mobile="true"]) & {
			padding-top: 0;
		}
	}
}

.full-with-overflow-auto {
	overflow-x: auto;
	width: 100%;
}

.ng-select .ng-select-container {
	border: 1px solid var(--kt-input-border-color) !important;
	border-radius: 0.35rem !important;
	padding: 0.5rem 0.75rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	font-weight: 500;
	line-height: 21.45px;
	min-height: 43px !important;
	height: auto !important;
	overflow: auto !important;

	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
	color: var(--kt-input-placeholder-color) !important;
	font-weight: 500;
	line-height: 21.45px;
	font-size: 14px;
	top: 11px !important;
}

.ng-select .ng-select-container .ng-value-container .ng-input {
	top: 10px !important;
}

.object-fit-contain {
	object-fit: contain;
}

.object-fit-cover {
	object-fit: cover;
}