<div class="card card-body px-2 pt-8">
    <div class="d-flex justify-content-center w-100">
        <form [formGroup]="form" class="p-5 w-md-75"
            style="border: 1px solid #E4E6EF; border-radius: 16px; width: 100%;;">
            <div class="welcome-text" translate>Thông tin doanh nghiệp</div>
            <hr class="line-gray mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 col-12">
                    <label class="form-label text-nowrap">Ảnh đại diện</label>
                </div>
                <div class="col-md-9 col-12">
                    <div class="position-relative" style="width: 64px !important; height: 64px !important;"
                        (click)="image.click()">
                        <i class="fa fa-camera position-absolute right-0 bottom-0 border-radius-full cursor-pointer"
                            style="border: 2px solid #ffffff; padding: 2px; background-color: #eff2f5; z-index: 50"></i>
                        <img src="{{ base64Image || '../../../../assets/media/logos/AT_hatori_direction.svg' }}"
                            alt="avatar"
                            class="img-hover border-radius-full cursor-pointer w-100 h-100 object-fit-cover"
                            style="border: 1px solid">
                        <input type="file" class="form-control d-none" (click)="onInputClick($event)"
                            (change)="onFileChanged($event)" accept=".jpg,.jpeg,.png,.gif" #image>
                    </div>
                </div>
            </div>
            <hr class="line-gray mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 col-12">
                    <label class="form-label">Tên doanh nghiệp</label>
                </div>
                <div class="col-md-9 col-12">
                    <input class="form-control form-control-disabled" formControlName="company_name" readonly>
                </div>
            </div>
            <hr class="line-gray mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 col-12">
                    <label class="form-label">Website giới thiệu</label>
                </div>
                <div class="col-md-9 col-12">
                    <input class="form-control form-control-disabled cursor-pointer text-decoration-underline"
                        formControlName="website_url" readonly (click)="linkToWeb()">
                </div>
            </div>
            <hr class="line-gray mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 col-12">
                    <label class="form-label">Lĩnh vực hoạt động</label>
                </div>
                <div class="col-md-9 col-12">
                    <input class="form-control form-control-disabled" formControlName="business_type" readonly>
                </div>
            </div>
            <hr class="line-gray mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 col-12">
                    <label class="form-label">Quy mô nhân sự</label>
                </div>
                <div class="col-md-9 col-12">
                    <input class="form-control form-control-disabled" formControlName="member_range" readonly>
                </div>
            </div>
            <hr class="line-gray mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 col-12">
                    <label class="form-label">Tên đăng nhập</label>
                </div>
                <div class="col-md-9 col-12">
                    <input class="form-control form-control-disabled" formControlName="username" readonly>
                </div>
            </div>
            <hr class="line-gray mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 col-12">
                    <label class="form-label">Tên liên hệ</label>
                </div>
                <div class="col-md-9 col-12">
                    <input class="form-control form-control-disabled" formControlName="full_name" readonly>
                </div>
            </div>
            <hr class="line-gray mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 col-12">
                    <label class="form-label">Số điện thoại liên hệ</label>
                </div>
                <div class="col-md-9 col-12">
                    <input class="form-control form-control-disabled" formControlName="phone" readonly>
                </div>
            </div>
            <hr class="line-gray mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 col-12">
                    <label class="form-label">Email liên hệ</label>
                </div>
                <div class="col-md-9 col-12">
                    <input class="form-control form-control-disabled" formControlName="email" readonly>
                </div>
            </div>
            <!-- <hr class="line-gray mt-5 mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="w-100 text-center">
                        <button class="btn btn-orange w-50">Cập nhật</button>
                    </div>
                </div>
            </div> -->
            <hr class="line-gray mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 col-12">
                    <label class="form-label">Mật khẩu</label>
                </div>
                <div class="col-md-9 col-12">
                    <button class="btn btn-sm btn-orange" (click)="openModal()">Đổi mật khẩu</button>
                </div>
            </div>
        </form>
    </div>
</div>

<app-spinner [loading]="loading"></app-spinner>