.bg-orange-v2 {
	background-color:#FECDCA ;
}
.bg-orange {
	background-color:#E04F16 ;
}
.bg-ECFDF3 {
	background-color: #ECFDF3;
}
.bg-F9FAFB {
	background-color: #F9FAFB ;
}
.bg-F9FAFB-v2 {
	background-color: #F9FAFB !important;
}
.bg-FEF3F2 {
	background-color: #FEF3F2 !important;
}
.bg-ABEFC6 {
	background-color: #ABEFC6;
}
.bg-D92D20 {
	background-color: #D92D20;
	border-color: #D92D20;
	&:disabled {
		color: #FFFFFF !important;
		border: 1px solid #D92D20 !important;
		background-color: #D92D20 !important;
	}
	
	&:after {
		color: #FFFFFF !important;
		border: 1px solid #E04F16 !important;
		background-color: #E04F16 !important;
	}
	
	&:hover {
		color: #FFFFFF !important;
		border: 1px solid #c74410 !important;
		background-color: #c74410 !important;
	}
}

.bg-F2F4F7 {
	background-color: #F2F4F7 !important;
}

.bg-B2DDFF {
	background-color: #299ef8!important;
}
.bg-D9D6FE {
	background-color: #D9D6FE !important;
}
.bg-FECDCA {
	background-color: #FECDCA !important;
}
.bg-F4F3FF {
	background-color: #F4F3FF !important;
}
.bg-EFF8FF {
	background-color: #EFF8FF !important;
}
.bg-D92D20 {
	background-color: #D92D20 !important;
}

