:host {
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
}

.form {
   max-width: 480px;
   height: 100vh;
}

.title {
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 38px;
    font-family: "Be Vietnam Pro";
}

.title-setting {
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 38px;
	font-family: "Be Vietnam Pro" !important;

}

@media (max-width: 768px) {
    .form {
		margin-top: 50px;
    }
}