<div class="container-fluid card">
	<ng-container *ngIf="!loading">
		<div class="card-body">
			<div class="position-absolute" style=" left: 5%;">
				<button class="btn btn-outline" [routerLink]="'auth/login'">
					<i class="fa fa-arrow-left mr-1"></i>
					<span class="fw-500">Quay lại</span>
				</button>
			</div>
			<div class="form w-100 mx-auto">
				<form [formGroup]="formActive">
					<div class="d-flex justify-content-center">
						<img alt="Logo" src="../../assets/media/logos/logo-at-splash.png" width="250" height="75" />
					</div>

					<div *ngIf="checkCodeActive" class="d-flex align-items-center gap-3 p-5 mt-10 mb-8"
						style="background-color: #F9FAFB;">
						<span [inlineSVG]="'./assets/media/icons/success03.svg'"></span>
						<p class="fw-600 mb-0" style="color: #079455; line-height: 20px;">Xác thực thành công</p>

					</div>
					<div *ngIf="!checkCodeActive" class="d-flex align-items-center gap-3 p-5 mt-10 mb-8"
						style="background-color: #F9FAFB;">
						<span [inlineSVG]="'./assets/media/icons/fail01.svg'"></span>
						<p class="fw-600 mb-0" style="color: #c91e03; line-height: 20px;">Xác thực không thành công</p>
					</div>

					<div class="text-center mb-5">
						<h1 class="title-setting mb-0">Thiết lập tên đăng nhập và mật khẩu</h1>
						<p class="text-center mb-10" style="color: #475467;">Vui lòng điền đầy đủ thông tin để được kích
							hoạt tài khoản</p>
					</div>

					<div class="row mb-5">
						<div class="col-12 mb-5">
							<label class="form-label required">Tên đăng nhập</label>
							<input class="form-control " placeholder="Nhập tên đăng nhập" [ngClass]="{'is-invalid': (fails && fails['username']) 
										||  helperService.showStatusError(formActive, 'username')}" 
										(change)="changeText($event, 'username')"
								(input)="helperService.onInputForm(formActive, 'username', $event, {trim: true, lower: true})"
								formControlName="username">
							<at-error [control]="formActive.get('username')" validation="required"
								message="Tên đăng nhập không được để trống.">
							</at-error>
							<at-error [control]="formActive.get('username')" validation="minlength"
								[message]="'Tên đăng nhập có độ dài tối thiểu 6 ký tự.'">
							</at-error>
							<at-error [control]="formActive.get('username')" validation="pattern"
								message="Tên đăng nhập không đúng định dạng.">
							</at-error>
							<at-error [control]="formActive.get('username')" validation="maxlength"
								message="Tên đăng nhập có độ dài tối đa 20 ký tự.">
							</at-error>
							<div class="invalid-feedback" *ngIf="fails && fails['username']">
								<span>
									{{ fails['username'][0] }}
								</span>
							</div>
							<p class="mb-0" style="color: #475467">Tên đăng nhập có độ dài từ 6-20 ký tự không dấu, không chứa khoảng trắng
								và không
								chứa ký tự đặc biệt.</p>

						</div>
						<div class="col-12 mb-5">
							<label class="form-label required">Mật khẩu</label>
							<div class="position-relative d-flex align-items-center">
								<input type="{{ showPw ? 'text' : 'password' }}" placeholder="Nhập mật khẩu"
									formControlName="password" class="form-control bg-img-none"
									[ngClass]="{'is-invalid': ((fails && fails['password']) 
										||  helperService.showStatusError(formActive, 'password') 
										|| !checkMatchPassword())}" (change)="changeText($event, 'password')"
									(input)="helperService.onInputForm(formActive, 'password', $event, {trim: true})"
									(focusout)="helperService.onTrimFocusOutForm(formActive, 'password', $event)">
								<a class="position-absolute cursor-pointer p-2" style="right: 15px;"
									(click)="showPassword(1)">
									<i class="fa {{ showPw ? 'fa-eye' : 'fa-eye-slash' }}"></i></a>
							</div>
							<at-error [control]="formActive.get('password')" validation="required"
								message="Mật khẩu không được để trống.">
							</at-error>
							<at-error [control]="formActive.get('password')" validation="minlength"
								[message]="'Mật khẩu có độ dài tối thiểu 8 ký tự.'">
							</at-error>
                            <at-error [control]="formActive.get('password')" validation="pattern" 
                                [message]="'Mật khẩu không bao gồm dấu và khoảng trắng.'"></at-error>
							<at-error [control]="formActive.get('password')" validation="maxlength"
								message="Mật khẩu có độ dài tối đa 16 ký tự.">
							</at-error>
							<div class="sub-invalid" *ngIf="fails && fails['password']">
								<span>{{ fails['password'][0] }}</span>
							</div>
							<p class="mb-0" style="color: #475467">Mật khẩu có độ dài từ 8-16 ký tự, không bao gồm ký tự
								có dấu
								và
								khoảng trắng.</p>

						</div>
						<div class="col-12 mb-5">
							<label class="form-label required">Nhập lại mật khẩu</label>
							<div class="position-relative d-flex align-items-center">
								<input type="{{ showCfPw ? 'text' : 'password' }}" placeholder="Nhập lại mật khẩu"
									formControlName="password_confirmation"
									class="form-control bg-img-none " [ngClass]="{'is-invalid': ((fails && fails['password_confirmation']) 
										||  helperService.showStatusError(formActive, 'password_confirmation') 
										|| !checkMatchPassword())}" (change)="checkMatchPassword()"
									(input)="helperService.onInputForm(formActive, 'password_confirmation', $event, {trim: true})">
								<a class="position-absolute cursor-pointer p-2" style="right: 15px;"
									(click)="showPassword(2)">
									<i class="fa {{ showCfPw ? 'fa-eye' : 'fa-eye-slash' }}"></i></a>
							</div>
							<at-error [control]="formActive.get('password_confirmation')" validation="required"
								message="Mật khẩu xác nhận không được để trống.">
							</at-error>
							<at-error [control]="formActive.get('password_confirmation')" validation="minlength"
								[message]="'Mật khẩu xác nhận có độ dài tối thiểu 8 ký tự.'">
							</at-error>
							<at-error [control]="formActive.get('password_confirmation')" validation="maxlength"
								message="Mật khẩu xác nhận có độ dài tối đa 16 ký tự.">
							</at-error>
							<div class="sub-invalid" *ngIf="fails && fails['password_confirmation']">
								<span>{{ fails['password_confirmation'][0] }}</span>
							</div>
							<p *ngIf="!checkMatchPassword()" class="text-red-500">
								Mật khẩu và mật khẩu nhập lại không trùng khớp.
							</p>

						</div>
						<div class="col-12 mb-5 mt-5">
							<!-- <button class="btn btn-secondary w-50" routerLink="/auth/login" [disabled]="disabledButton">Quay lại</button> -->
							<button *ngIf="!disabledButton" class="btn btn-orange w-100" (click)="activeAccount()"
								[disabled]="formActive.invalid || !checkMatchPassword()">Hoàn tất</button>
							<button *ngIf="disabledButton" class="btn btn-orange w-100 d-flex justify-content-center">
								<img src="../../../../assets/media/common/loading-gif.gif" width="20" height="20">
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</ng-container>

	<app-spinner [loading]="loading"></app-spinner>
</div>