<div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
        <div class="symbol symbol-50px me-5">
            <img alt="Logo" [src]="userInfo?.avatar_url || './assets/media/logos/AT_hatori_direction.svg'" class="object-fit-cover"/>
        </div>

        <div class="d-flex flex-column">
            <div class="fw-bolder d-flex align-items-center fs-5">
                {{ userInfo?.full_name || userInfo?.first_name }}
            </div>
            <!-- <a class="fw-bold text-muted text-hover-primary fs-7">
                <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1">{{(userInfo?.roles && userInfo?.roles.length > 0) ? userInfo?.roles[0].display_name : ''}}</span>
            </a> -->
            <a class="fw-bold text-muted text-hover-primary fs-7 cursor-pointer" style="word-wrap: break-word; width: 170px;">
                {{ userInfo?.email }}
            </a>
        </div>
    </div>
</div>
<!--  <div class="separator my-2"></div>-->

<div class="menu-item px-5">
    <a routerLink="/my-profile" class="menu-link px-5" (click)="tracking('adv_profile_infor')">
        <i class="fa fa-user fs16 mr-2"></i>
        <span translate>Thông tin doanh nghiệp</span>
    </a>
</div>

<div class="menu-item px-5" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start" data-kt-menu-flip="bottom">
    <a class="menu-link px-5 cursor-pointer">
        <span class="menu-title position-relative">
            <i class="fa fa-globe fs16 mr-2"></i>
            {{ 'Language' | translate }}
            <span
                class="flex align-items-center fs-8 rounded bg-light px-3 py-2 position-absolute translate-middle-y top-50 end-0">
                {{ language.name | translate }}{{ " " }}
                <img class="w-15px h-15px rounded-1 ms-2" [src]="language.flag" alt="metronic" />
            </span>
        </span>
    </a>
    <!-- <div class="menu-sub menu-sub-dropdown w-175px py-4">
        <div *ngFor="let l of langs" class="menu-item px-3 cursor-pointer" (click)="selectLanguage(l.lang)">
            <a class="menu-link d-flex px-5" [ngClass]="l.lang === language.lang ? 'active' : ''">
                <span class="symbol symbol-20px me-4">
                    <img class="rounded-1" [src]="l.flag" alt="metronic" />
                </span>
                {{ l.name | translate }}
            </a>
        </div>
    </div> -->
</div>

<!--  <div class="menu-item px-5 my-1">-->
<!--    <a routerLink="/crafted/account/settings" class="menu-link px-5">-->
<!--      Account Settings-->
<!--    </a>-->
<!--  </div>-->

<div class="menu-item px-5">
    <a (click)="logout()" class="menu-link px-5">
        <i class="fa fa-arrow-right-from-bracket fs16 mr-2"></i>
        <span translate>Sign Out</span>
    </a>
</div>