<!--begin::Search-->
<div class="app-navbar-item align-items-stretch" [ngClass]="itemClass">
    <!--begin::Search-->
    <div id="kt_header_search" class="header-search d-flex align-items-stretch" data-kt-search-keypress="true"
        data-kt-search-min-length="2" data-kt-search-enter="enter" data-kt-search-layout="menu"
        data-kt-menu-trigger="{default: 'click'}" data-kt-menu-overflow="false" data-kt-menu-permanent="true"
        data-kt-menu-placement="bottom-end" data-kt-search="true">
    </div>

</div>

<!--begin::User menu-->
<div class="app-navbar-item" [ngClass]="itemClass">
    <!--begin::Menu wrapper-->
    <div class="cursor-pointer symbol" [ngClass]="userAvatarClass" data-kt-menu-trigger="{default: 'click'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" 
        style="border-radius: 50px !important;">
            <img src="{{ avatar || './assets/media/auth/tim_80x80.png' }}" alt="avatar" class="object-fit-cover"/>
    </div>
    <app-user-inner data-kt-menu='true'></app-user-inner>
    <!--end::Menu wrapper-->
</div>