<div class="card">
    <div class="text-center row">
        <h5 mat-dialog-title class="fs18 fw-600 mb-0 font-be-vn-pro">Cập nhật mật khẩu</h5>
        <button mat-icon-button (click)="onClose()" class="fs18 fw-600 text-right btn-close position-absolute right-0"></button>
    </div>

    <hr class="line-gray mt-5 mb-5">

    <form class="row" [formGroup]="form">
        <div class="col-12 mb-4">
            <label class="form-label required">Mật khẩu hiện tại</label>
            <div class="d-flex align-items-center position-relative">
                <input type="{{ showPw ? 'text' : 'password' }}" placeholder="Nhập mật khẩu hiện tại"
                    class="form-control bg-img-none" formControlName="password_old" (keydown)="errorPasswordOld = ''"
                    [ngClass]="{'is-invalid': errorPasswordOld || helperService.showStatusError(form, 'password_old') || !checkMatchOldPassword()}"
                    (input)="helperService.onInputForm(form, 'password_old', $event, {trim: true})">
                <a class="position-absolute cursor-pointer p-2" style="right: 15px;" (click)="showPassword(1)">
                    <i class="fa {{ showPw ? 'fa-eye' : 'fa-eye-slash' }}"></i>
                </a>
            </div>
            <at-error [control]="form.get('password_old')" validation="required" message="Mật khẩu hiện tại không được để trống."></at-error>
            <div class="sub-invalid" *ngIf="errorPasswordOld">
                <span>{{ errorPasswordOld }}</span>
            </div>
        </div>
        <div class="col-12 mb-4">
            <label class="form-label required">Mật khẩu mới</label>
            <div class="position-relative d-flex align-items-center">
                <input type="{{ showNewPw ? 'text' : 'password' }}" placeholder="Nhập mật khẩu mới" formControlName="password_new" maxlength="16" class="form-control bg-img-none" 
                    [ngClass]="{'is-invalid': ((fails && fails['password_new']) || helperService.showStatusError(form, 'password_new') || !checkMatchPassword() || !checkMatchOldPassword())}" 
                    (change)="changeText($event, 'password_new')" (input)="helperService.onInputForm(form, 'password_new', $event, {trim: true}); checkMatchOldPassword()"
                    (focusout)="helperService.onTrimFocusOutForm(form, 'password_new', $event)">
                <a class="position-absolute cursor-pointer p-2" style="right: 15px;" (click)="showPassword(2)">
                    <i class="fa {{ showNewPw ? 'fa-eye' : 'fa-eye-slash' }}"></i>
                </a>
            </div>
            <p class="mb-0 mt-1 fs12" style="color: #475467">Mật khẩu có độ dài từ 8-16 ký tự, không bao gồm ký tự có dấu và khoảng trắng.</p>
            <at-error [control]="form.get('password_new')" validation="required" message="Mật khẩu mới không được để trống."></at-error>
            <at-error [control]="form.get('password_new')" validation="minlength" [message]="'Mật khẩu có độ dài tối thiểu 8 ký tự.'"></at-error>
            <at-error [control]="form.get('password')" validation="pattern" [message]="'Mật khẩu không bao gồm dấu và khoảng trắng.'"></at-error>
            <div class="sub-invalid" *ngIf="fails && fails['password_new']">
                <span>{{ fails['password_new'][0] }}</span>
            </div>
            <p *ngIf="!checkMatchOldPassword()" class="text-red-500 mt-1">
                Mật khẩu hiện tại và mật khẩu mới không được trùng nhau
            </p>
        </div>
        <div class="col-12 mb-2">
            <label class="form-label required">Nhập lại mật khẩu mới</label>
            <div class="position-relative d-flex align-items-center">
                <input type="{{ showConfirmNewPw ? 'text' : 'password' }}" placeholder="Nhập lại mật khẩu mới"
                    formControlName="confirm_new_password" maxlength="16" class="form-control bg-img-none"
                    [ngClass]="{'is-invalid': helperService.showStatusError(form, 'confirm_new_password') || !checkMatchPassword()}" (change)="checkMatchPassword()"
                    (input)="helperService.onInputForm(form, 'confirm_new_password', $event, {trim: true})">
                <a class="position-absolute cursor-pointer p-2" style="right: 15px;" (click)="showPassword(3)">
                    <i class="fa {{ showConfirmNewPw ? 'fa-eye' : 'fa-eye-slash' }}"></i>
                </a>
            </div>
            <at-error [control]="form.get('confirm_new_password')" validation="required" message="Mật khẩu nhập lại không được để trống."></at-error>
            <p *ngIf="!checkMatchPassword()" class="text-red-500 mt-1">
                Mật khẩu mới và mật khẩu nhập lại không trùng khớp
            </p>
        </div>
    </form>

    <hr class="line-gray mt-5 mb-5">

    <div class="row">
        <div class="col-12 d-flex justify-content-center gap-3 mb-2">
            <button class="btn btn-sm btn-outline-base w-100" (click)="onClose()" translate>Hủy bỏ</button>
            <button class="btn btn-sm btn-orange w-100" (click)="submit()" [disabled]="form.invalid || !checkMatchPassword() || !checkMatchOldPassword()" translate>
                Xác nhận</button>
        </div>
    </div>
</div>

<app-spinner [loading]="loading"></app-spinner>