<div class="card py-5 container-fluid">
	<div class="card-body h-100 mx-4 p-0">
		<div class="form w-100 mx-sm-auto">
            <div class="d-flex justify-content-center">
                <img alt="Logo" src="../../assets/media/logos/logo-at-splash.png" width="250" height="75" />
            </div>
            <div class="text-center">
                <h1 class="title">Cập nhật thông tin để truy cập Growth Platform dành cho doanh nghiệp</h1>
            </div>
            <div class="text-center mb-10" style="color: #475467;">Vui lòng hoàn thành các thông tin dưới đây</div>
            <form [formGroup]="form">
                <div class="row mb-5">
                    <div class="col-12 mb-5">
                        <label class="form-label required">Tên doanh nghiệp</label>
                        <input class="form-control" placeholder="Nhập tên doanh nghiệp của bạn"
                            (focusout)="helperService.onTrimFocusOutForm(form, 'company_name', $event)"
                            [ngClass]="{'is-invalid': (helperService.showStatusError(form, 'company_name'))}"
                            formControlName="company_name">
                        <at-error [control]="form.get('company_name')" validation="required"
                            message="Tên doanh nghiệp không được để trống.">
                        </at-error>
                        <at-error [control]="form.get('company_name')" validation="maxlength"
                            message="Tên doanh nghiệp có độ dài tối đa 100 ký tự.">
                        </at-error>
                    </div>
                    <div class="col-12 mb-5">
                        <label class="form-label required">Website giới thiệu</label>
                        <div class="form-control d-flex" [ngClass]="{'is-invalid': (helperService.showStatusError(form, 'website_url'))}">
                            <select [(ngModel)]="preUrl" [ngModelOptions]="{standalone: true}">
                                <option value="http://">http://</option>
                                <option value="https://">https://</option>
                            </select>
                            <input class="custom-input ml-2" (focusout)="helperService.onTrimFocusOutForm(form, 'website_url', $event)" placeholder="yourwebsite.com"
                                formControlName="website_url">
                        </div>
                        <at-error [control]="form.get('website_url')" validation="required"
                            message="Website giới thiệu không được để trống.">
                        </at-error>
                        <at-error [control]="form.get('website_url')" validation="pattern"
                            message="Website giới thiệu không đúng định dạng (ví dụ: solutions.accesstrade.vn, ...)">
                        </at-error>
                        <at-error [control]="form.get('website_url')" validation="maxlength"
                            message="Website giới thiệu có độ dài tối đa 255 ký tự.">
                        </at-error>
                    </div>
                    <div class="col-md-6 col-12 mb-5">
                        <label class="form-label required">Lĩnh vực hoạt động</label>
                        <ng-select [items]="configs.business_type" bindLabel="name" bindValue="value"
                            [ngClass]="{'is-invalid': (helperService.showStatusError(form, 'business_type'))}"
                            placeholder="Chọn lĩnh vực" formControlName="business_type"></ng-select>
                        <at-error [control]="form.get('business_type')" validation="required"
                            message="Lĩnh vực hoạt động không được để trống.">
                        </at-error>
                    </div>
                    <div class="col-md-6 col-12 mb-5">
                        <label class="form-label required">Quy mô nhân sự</label>
                        <ng-select [items]="configs.member_range" bindLabel="name"
                            [ngClass]="{'is-invalid': (helperService.showStatusError(form, 'member_range'))}"
                            bindValue="value" placeholder="Chọn quy mô" formControlName="member_range"></ng-select>
                        <at-error [control]="form.get('member_range')" validation="required"
                            message="Quy mô nhân sự không được để trống.">
                        </at-error>
                    </div>
                    <div class="col-12 mb-5">
                        <label class="form-label required">Họ và tên</label>
                        <input class="form-control" placeholder="Nhập họ và tên" formControlName="full_name"
                            (focusout)="helperService.onTrimFocusOutForm(form, 'full_name', $event)"
                            [ngClass]="{'is-invalid': (helperService.showStatusError(form, 'full_name')  || fails?.full_name?.length > 0)}">
                        <at-error [control]="form.get('full_name')" validation="required" message="Họ và tên không được để trống."></at-error>
                        <at-error [control]="form.get('full_name')" validation="pattern" message="Họ và tên không đúng định dạng."></at-error>
                        <at-error [control]="form.get('full_name')" validation="maxlength" message="Họ và tên có độ dài tối đa 50 ký tự."></at-error>
                    </div>
                    <div class="col-12 mb-5" >
                        <label class="form-label required">Email liên hệ</label>
                        <input class="form-control form-control-disabled" placeholder="Nhập email liên hệ" formControlName="email" [readOnly]="true">
                    </div>
                    <div class="col-12 mb-5">
                        <label class="form-label required">Số điện thoại liên hệ</label>
                        <input *ngIf="!allowInputPhone" class="form-control form-control-disabled" placeholder="Nhập số điện thoại liên hệ" formControlName="phone_number" [readOnly]="true">
                        <input *ngIf="allowInputPhone" class="form-control" (focusout)="helperService.onTrimFocusOutForm(form, 'phone', $event)" placeholder="Nhập số điện thoại liên hệ"
                            formControlName="phone_number" [ngClass]="{'is-invalid': (helperService.showStatusError(form, 'phone_number') || fails?.phone_number?.length > 0)}"
                            onkeypress="return (event.charCode == 8 || event.charCode == 0 ) ? null : (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 43"
                            (change)="onChange($event, 'phone_number')">
                        <at-error [control]="form.get('phone_number')" validation="required"
                            message="Số điện thoại không được để trống.">
                        </at-error>
                        <at-error [control]="form.get('phone_number')" validation="pattern"
                            message="Số điện thoại không đúng định dạng.">
                        </at-error>
                        <div class="sub-invalid" *ngIf="fails && fails['phone_number']">
                            <span translate>{{ fails['phone_number'][0] }}</span>
                        </div>
                    </div>
                    <div class="col-12 mb-5">
                        <label class="form-label required">Tên đăng nhập</label>
                        <input class="form-control form-control-disabled" placeholder="Nhập tên đăng nhập" formControlName="username" [readOnly]="true">
                    </div>
                    <div class="col-12 mb-5 mt-4">
                        <button *ngIf="!disabledButtonComplete" class="btn btn-orange w-100" (click)="register()" [disabled]="form.invalid">Hoàn tất</button>
                        <button *ngIf="disabledButtonComplete" class="btn btn-orange w-100 d-flex justify-content-center">
                            <img src="../../../../assets/media/common/loading-gif.gif" width="20" height="20">
                        </button>
                    </div>
                </div>

            </form>

            <div class="row">
                <div class="col-12 text-center">
                    Bạn chưa có tài khoản?
                    <span class="text-orange fw-600 cursor-pointer" (click)="navigateToSignUp()">Đăng ký</span>
                </div>
            </div>
		</div>
	</div>
</div>