::ng-deep .modal-content {
    background-color: unset;
}

::ng-deep .modal-header {
    border-bottom: none;
}

iframe {
    border-radius: 10px;
}

.video-tutorial {
    display: none;
    top: 80%;
    left: 5%;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    z-index: 100;
    width: 350px;
    text-align: center;
}

@media (min-width: 992px) {
    .show-video:hover + .video-tutorial {
        display: flex;
    }    
}

@media (max-width: 992px) {
    .video-container {
        padding: 16px;
    }
}

.video-info h4 {
    font-size: 16px;
    font-weight: bold;
    color: #FF6600;
    margin: 0;
}

.video-info p {
    font-size: 14px;
    color: #333;
    margin: 0;
}