<ng-container *ngIf="appFooterContainerCSSClass">
    <!--begin::Footer container-->
    <div class="app-container" [ngClass]="appFooterContainerCSSClass">
        <ng-container *ngTemplateOutlet="footerView"></ng-container>
    </div>
    <!--end::Footer container-->
</ng-container>

<ng-container *ngIf="!appFooterContainerCSSClass">
    <ng-container *ngTemplateOutlet="footerView"></ng-container>
</ng-container>

<ng-template #footerView>
    <ul class="menu menu-gray-600 menu-hover-primary order-1">
        <li class="menu-item text-center justify-content-center">
            <span class="text-muted fw-semibold me-1 text-center">&copy;{{currentDateStr}}</span>
            <a href="#" target="_blank" class="text-gray-800 text-center text-hover-primary">
                Bản quyền thuộc về CMS Việt Nam 
            </a>
        </li>
    </ul>
    <!--end::Menu-->

</ng-template>