<div class="container-fluid h-100 py-5" style="background-color: rgb(226 218 218);">

	<div style="max-width: 600px; " class="m-auto card-body card">
		<div class="mb-5 pb-5 text-br" style="border-bottom: 1px solid gray;">
			<span class="fs16 fw-600 ">Mã đơn hàng:</span>
			<span class="text-danger mx-2 fw-600 fs16">{{data?.code}}</span>
			<span class="text-muted fs12">{{data?.created_at | date:'HH:mm dd/MM/YYYY '}}</span>
		</div>
		<div class="mb-5 pb-5 text-br" style="border-bottom: 1px solid gray;">
			<h2 class="fs16 fw-600 ">Thông tin người đặt hàng: </h2>
			<p>{{data?.user?.name}}</p>
			<a href="#" class="text-primary">{{data?.user?.phone}}</a>
			<ng-container *ngIf="agency">
				<h2 class="fs16 fw-600 ">Chi nhánh kho: </h2>
				<p>{{agency?.name}}</p>
			</ng-container>

		</div>
		<div class="mb-5 pb-5 text-br" style="border-bottom: 1px solid gray;">
			<div class="d-flex justify-content-between mb-2">
				<h2 class="fs16 fw-600 ">Tổng giá trị đơn hàng: </h2>
				<p class="mb-0">{{data?.sub_total | thousandsSeparator: 'đ'}}</p>
			</div>
			<div class="d-flex justify-content-between mb-2">
				<p class="mb-0 ">Tổng tiền hàng: </p>
				<p class="mb-0">{{data?.amount | thousandsSeparator: 'đ'}}</p>
			</div>
			<div class="d-flex justify-content-between mb-2">
				<p class="mb-0 ">Tổng voucher khuyến mãi: </p>
				<p class="mb-0">{{data?.discount_amount | thousandsSeparator: 'đ'}}</p>
			</div>
			<div class="d-flex justify-content-between mb-2">
				<p class="mb-0 ">Tổng phí vận chuyển: </p>
				<p class="mb-0">{{data?.shipping_amount | thousandsSeparator: 'đ'}}</p>
			</div>
			<div class="d-flex justify-content-between mb-2">
				<p class="mb-0">Tổng thuế: </p>
				<p class="mb-0">{{data?.tax_amount | thousandsSeparator: 'đ'}}</p>
			</div>
		</div>
		<div class="mb-5 pb-5 text-br" *ngIf="data?.transactions?.length > 0">
			<ng-container *ngFor="let item of data?.transactions">
				<div class="mb-3" style="border: 0.5px dotted rgb(243, 236, 236)">
					<div class="d-flex gap-3">
						<img src="{{helperService.buildImage(item?.product?.avatar)}}" alt=""
						(error)="helperService.onErrorImage($event)" 
						style="height: 80px; width: 80px; object-fit: cover; 
						border: 0.5px solid rgb(216, 213, 213);">
	
						<div class="w-100">
							<div class="d-flex justify-content-between mb-2">
								<p class="mb-0 ">Giá tiền: </p>
								<p class="mb-0">{{item?.price | thousandsSeparator: 'đ'}}</p>
							</div>
							<div class="d-flex justify-content-between mb-2">
								<p class="mb-0 ">Số lượng: </p>
								<p class="mb-0">{{item?.qty | thousandsSeparator: 'đ'}}</p>
							</div>
							<div class="d-flex justify-content-between mb-2">
								<p class="mb-0 ">Thành tiền: </p>
								<p class="mb-0">{{item?.total_price | thousandsSeparator: 'đ'}}</p>
							</div>
						</div>
					</div>
					<p class="text-primary mt-2"> {{item?.product?.name}}</p>
				</div>
			</ng-container>
			

		</div>
	</div>
</div>
<app-spinner [loading]="loading" [fullScreen]="true" [bdColor]="'rgba(0, 0, 0, 0.5)'"></app-spinner>